.main-page {
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f0f9fc;
}

.search{
  padding: 1rem;
  width: 100vw;
  position: relative;
  right: 24px;

  input{
    width: 265px;
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  button{
    width: 30px;
    height: 30px;
    margin-left: 5px; 
    cursor: pointer;
  }
}

.select-button{
  button {
    width: 140px;
    height: 30px;
    font-size: 0.7rem;
    border: none;
    border-radius: 10px;
    color: #030000; 
    background-color: #e1ecee; 
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    
  }
  button:hover {
    background-color: #c7c7c3;
  }
}

.select-button .selected {
  background-color: #add8e6; /* 선택된 버튼의 색상 변경 */
  color: white; /* 선택된 버튼의 글씨 색상 */
  cursor: pointer;
}

.snack-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
}

.snack-item {
  display: flex; /* Flexbox로 설정하여 내부 요소를 가로로 정렬 */
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  width: 90%;
  max-width: 300px;
  background-color: #e1ecee; /* 간식 아이템의 배경색 설정 */
  cursor: pointer;

  

  img{
    max-width: 80px; /* 이미지 크기 조정 */
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    margin-right: 15px;
  }

  h3{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  p{
    margin: 5px 0 0 10px;
    font-size: 0.85rem;
    color: #333;
  }
}

.snack-item:hover{
  background-color: #e7eeee;
}

.snack-list.snack-item.snack-info{
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
}

