.navbar {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  position: relative;
  background-color: #d4e7ee;
  width: 100vw;
  gap: 1rem;
}

.navbar--button {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  background-color: #d4e7ee;
  cursor: pointer;
}

.navbar--button:hover {
  background-color: #f0f4f5;
}

.dog_icon{
  width: 35px;
  height: 35px;
}